@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');


:root {
    --main-color: #2980b9;
    --red: #e74c3c;
    --orange: #f39c12;
    --black: #444;
    --white: #fff;
    --light-bg: #f5f5f5;
    --light-color: #777;
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}


*::selection {
    color: var(--white);
    background-color: var(--main-color);
}


::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}


::-webkit-scrollbar-track {
    background-color: transparent;   
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);   
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--light-bg);
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.heading{
    font-size: 4rem;
    color:var(--black);
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}
 

.btn,
.delete-btn,
.option-btn {
    display: block;
    margin-top: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.8rem;
    color: var(--white);
    padding: 1rem 3rem;
    text-transform: capitalize;
    text-align: center;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
    background-color: var(--black);
}


.btn {
    background-color: var(--main-color);
}

.delete-btn {
    background-color: var(--red);
}

.option-btn {
    background-color: var(--orange);
}


.flex-btn {
    display: flex;
    gap: 1rem;
}

.message {
    position: sticky;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--light-bg);
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    z-index: 1100;
}

.message span {
    font-size: 2rem;
    color: var(--black);
}

.message i {
    font-size: 2.5rem;
    color: var(--red);
    cursor: pointer;
}

.message i:hover {
    color: var(--black);
}


.empty{
    padding:1.5rem;
    background-color: var(--white);
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    color:var(--red);
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: capitalize;
 }


 @keyframes fadeIn {
     0% {
         transform: translateY(1rem);
     }
 }


 /* ======= Seção do formulário de login do administrador ======= */
.form-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-container form { 
    background-color: var(--white);
    border-radius: .5rem;
    border: var(--border);
    box-sizing: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    width: 50rem;
}

.form-container form h3 {
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
}

.form-container form p {
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--light-color);
}

.form-container form p span {
    color: var(--orange);
}

.form-container form .box {
    width: 100%;
    font-size: 1.8rem;
    color: var(--black);
    padding: 1.4rem;
    margin: 1rem 0;
    background-color: var(--light-bg);
    border: var(--border);
    border-radius: .5rem;
}


 /* ======= Header Section(Dashboard) ======= */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo {
    font-size: 2.5rem;
    color: var(--black);
}

.header .flex .logo span {
    color: var(--main-color);
}

.header .flex .navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--light-color);
}

.header .flex .navbar a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.header .flex .icons > * {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--light-color);
    margin-left: 1.7rem;
}

.header .flex .icons > *:hover {
    color: var(--main-color);
}

.header .flex .profile {
    position: absolute;
    top: 125%;
    right: 2rem;
    background-color: var(--white);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
    padding-top: 1rem;
    width: 30rem;
    display: none;
    animation: fadeIn .2s linear;
}


.header .flex .profile p {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    color: var(--black);
}

.header .flex .profile.active{
    display: inline-block;
}

#menu-btn {
    display: none;
}


/* ======= Admin Dashboard ======= */
.dashboard .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.dashboard .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   background-color: var(--white);
}

.dashboard .box-container .box h3{
   font-size: 2.7rem;
   color:var(--black);
}

.dashboard .box-container .box h3 span{
   font-size: 2rem;
}

.dashboard .box-container .box p{
   padding:1.3rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   font-size: 1.7rem;
   color:var(--light-color);
   margin:1rem 0;
}


/* ======= Products ADD Section ======= */
.add-products form {
    margin: 0 auto;
    max-width: 70rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;
}

.add-products form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem
}


.add-products form .flex .inputBox {
    flex: 1 1 30rem;
}

.add-products form .flex .inputBox .box {
    width: 100%;
    background-color: var(--light-bg);
    border: var(--border);
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
    margin-top: 1rem;
}


.add-products form .flex .inputBox span {
    font-size: 2rem;
    color: var(--light-color)
}

.add-products form .flex .inputBox textarea {
    height: 5.8rem;
    resize: none;
}


/* ======= Show Products Section ======= */
.show-products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.show-products .box-container .box {
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 1.5rem;
}

.show-products .box-container .box img {
    width: 100%;
    height: 20rem;
    object-fit: contain;
}

.show-products .box-container .box .name {
    font-size: 2rem;
    color: var(--black);
}

.show-products .box-container .box .preco {
    font-size: 2.5rem;
    color: var(--main-color);
    margin: .5rem 0;
}

.show-products .box-container .box .detalhes {
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-color);
}


/* ======= Update Products Section ======= */


















/* ======= Responsive/Responsividade ======= */
@media(max-width:991px){
    html {
        font-size: 55%;
    }
}

@media(max-width:768px){
    #menu-btn {
        display: inline-block;
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }
}

@media(max-width:450px){
    html {
        font-size: 50%;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0;
    }

    .heading {
        font-size: 3rem;
    }

    .show-products .box-container {
        grid-template-columns: 1fr;
    }
}










































